@import url('https://fonts.googleapis.com/css?family=Coiny');
html, body {
  height: 100%;
  background-color: #ffb400;
}

body {
  font-family: 'Coiny', cursive;
  color: #362e2b;
  text-align: center;
  text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
  overflow-y: scroll;
}

a,
a:focus {
  color: #362e2b;
}

a:hover {
  text-decoration: none;
}

.site-wrapper {
  width: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 50px rgba(0,0,0,.5);
          box-shadow: inset 0 0 50px rgba(0,0,0,.5);
}

.inner {
  margin: 3rem 3rem;
}

.header-inner {
  background-image: url("../imgs/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 12rem;
  margin-top: 5rem;
}

.games {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  padding: 1rem 0;
}

.icon {
  width: 10rem;
  height: 5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.name {
  padding-left: 3rem;
  width: 30rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 3rem;
  text-align: left;
}

.icon.rat {
  background-image: url("../imgs/rat.png");
}

.icon.string {
  background-image: url("../imgs/string.png");
}

.icon.cat {
  background-image: url("../imgs/cat.png");
}

.footer-inner {
  background-image: url("../imgs/author.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
}
