$primaryColor: #ffb400;
$secondaryColor: #362e2b;
$lightColor: #ffffff;
$darkColor: #000000;
$siteBackground: url("../imgs/bg.png");
$siteLogo: url("../imgs/logo.png");
$siteAuthor: url("../imgs/author.png");
$imgGame1: url("../imgs/rat.png");
$imgGame2: url("../imgs/string.png");
$imgGame3: url("../imgs/laser.png");
$imgStart: url("../imgs/start.png");
$imgStop: url("../imgs/stop.png");
$imgBack: url("../imgs/back.png");
$imgGame1BG: url("../imgs/cheese.jpg");
